*
{
	margin:0;
	padding:0;
}
body {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("puppy.jpg");
  background-position:none;
  height:100px;
  background-size:cover;
}

/* adopt page*/
/* Style the top navigation bar */
.topnav {
  overflow: none;
  background-color: none;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "verdana", "san-serif";
}

/* Change color on hover */
.topnav a:hover {
  background-color: black;
  color: white;
}
/* Style the content */
.content {
  background-color: none;
  padding: 10px;
  font-size: 30px;
}

.pgraph {
	text-align: center;
	font-size: 30px;
	
}